/*
  Made by nicolas Vaagen for SK Horizon Chess Club

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
*/

* {
  box-sizing: border-box;
  margin: 0;
}

/* start navbar styling */
.navbar {
  background: #1e9c9c;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: 'Bebas Neue', san9A978Es-serif;
  min-width: 750px;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;

  height: 80px;
  font-size: xx-large;
}

.navbar__links:hover{
  box-shadow: inset 5em 5em #FDD401;
  color: #000;
  transition-duration: 10ms;
}

/* top bar logo */
#logo {
  margin: 5px;
  height: 4rem;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
}

/* common css */

button {
  display: block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100px;
  border: none;
  outline-color: #000;
  outline-width: 1px;
  outline-style: solid;
  background: #FDD401;
  color: black;
}

button:hover {
  background: #DD1810;
  transition: all 0.3s ease;
}

/* RepViewer css */

.row {
  display: flex;
}

.column {
  flex: 20%;
}

.centerPane {
  flex: 60%;
}

#board{
  margin-top: 30px;
  margin-bottom: 0;
  width: 100%;
  height: 800px;
}

.line {
  display: block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  min-width: 200px;

  height: 100%;
  width: fit-content;
  border: none;
  outline-color: #000;
  outline-width: 1px;
  outline-style: solid;
  background: #FDD401;
  color: black;
}

.line:hover {
  background: #DD1810;
  transition: all 0.3s ease;
  cursor: pointer;
}

.exampleGame {
  display: block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: fit-content;
  min-width: 200px;
  border: none;
  outline-color: #000;
  outline-width: 1px;
  outline-style: solid;
  background: #FDD401;
  color: black;
}

.exampleGame:hover {
  background: #DD1810;
  transition: all 0.3s ease;
  cursor: pointer;
}

.column h1 {
  margin:0 auto 10px 40px;
}

#saveBrowser {
  width: 300px;
}

#downloadLink{
  visibility: hidden;
  margin: 10px 0px 0px 50px;
}


/*OpenRep css */

/* the list of repertoires on open rep. pageS */
#repertoiresTable {
  border: 1px solid;
}

/* add game popup */
#pop {
  background: #1e9c9c;
}
#navbar-pop {
  background: cornflowerblue;
}
